@model NicaSource.Models.BookModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-head">

    </div>
    <div class="card-body" style ="height: 70vh">
        <div class="row p-2 text-center">
            <figure class="figure m-auto w-100">
                <img style="height: 50vh" src="@Url.Content(@Model.Img)" class="figure-img img-fluid rounded" alt="@Model.Title">
                <figcaption class="figure-caption text-center"> @Html.DisplayFor(model => model.Alt)</figcaption>
            </figure>
        </div>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-info" disabled="@Model.DisablePrev()" onclick="location.href='/comic/@Model.First'" ><i class="fas fa-step-backward"></i></button>
         <button class="btn btn-info" disabled="@Model.DisablePrev()"onclick="location.href='/comic/@Model.Prev()'"><i class="fas fa-backward"></i></button>
         <button class="btn btn-info" disabled="@Model.DisableNext()" onclick="location.href='/comic/@Model.Next()'"><i class="fas fa-forward"></i></button>
         <button class="btn btn-info" disabled="@Model.DisableNext()" onclick="location.href='/comic/@Model.Last'"><i class="fas fa-step-forward"></i></button>
   </div> 
</div>
